<h2>Where do you want to look for apartments?</h2>


<div class="row" ng-repeat="city in cities | chunkBy:3"">
  <div class="col-sm-6 col-md-4" ng-repeat="location in city">
    <div class="thumbnail">
      <img ng-src="{{location.image_url}}" alt="...">
      <div class="caption">
        <h3>{{location.title}}</h3>
        <p>{{location.desc}}</p>
        <p><a ng-href="#/{{location.title}}" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
